body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-nav {
    position: relative;
    margin: 0 auto;
    width: 90vw;
    height: 60px;

}

header {
    background: #2980b9;
    padding: 10px;
    width: 100vw;
    height: 60px;
    overflow: hidden;
}

.logo {
    float: left;
    margin-left: 70px;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #ecf0f1;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 75px;
    margin: 10px;
    position: relative;
}

nav a {
    padding: 10px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: 500ms ease-in-out 2ms;
    /* border: 1px solid aqua; */
}

nav a:hover {
    background-color: aqua;
    color: #34495e
}

nav a::after {
    position: absolute;
    display: block;
    content: '';
    height: 2px;
    width: 0%;
    top: 30px;
    transition: 500ms ease-in-out 2ms;
    background-color: aqua;
}

nav a:hover::after {
    width: 100%;
}

/* Hero section */
.hero-section {
    position: relative;
    width: 100vw;
    background: #3498db;
    /* background-image: url('/assets/img/darpan-dodiya-1449350-unsplash.jpg');
    background-size: cover;
    background-position: center; */
    /* opacity: .7; */
    height: 90vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.hero-heading {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-20%, -50%);
    margin: 0 auto;
    width: 100vh;
    height: 50vh;
}

.hero-heading h1 {
    text-align: left;
    margin-bottom: 10px;
    padding: 0px;
    font-size: 50px;
    color: #34495e;
    font-family: 'Raleway', sans-serif;
}

.hero-heading p {
    text-align: left;
    margin: 0;
    padding: 0px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.hero-btn {
    position: relative;
    top: 20%;
    left: 0;
    background-color: aqua;
    color: rgb(16, 66, 231);
    padding: 20px 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.671);
}

.hero-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0px;
    width: 50%;
    background: rgba(255, 255, 255, 0.329);
}

/* Down arrow */
.down-arrow {
    position: absolute;
    bottom: 0%;
    top: 100%;
    z-index: 2;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: #3498db;
    clip-path: polygon(0% 0%, 50% 50%, 100% 0%, 100% 100%, -50% -50%, 0% 100%);
    transform: rotate(270deg);
}

/* About Section */

.about-section {
    position: relative;
    ;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #9b59b6;
}

.about-section h1 {
    text-align: center;
    margin: 0 auto;
    padding: 50px;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    /* margin-top: 0; */
}

.about-box {
    position: relative;
    width: 100vw;
    background-color: white;
    height: 70vh;
    margin: 0 auto;
    display: grid;
    clip-path: polygon(0% 13%, 100% 0%, 100% 100%, 10% 90%);
    grid-template-columns: 1fr 2fr;

}

.about-img {
    /* background-image: url('/assets/img/DSC09906.JPG'); */
    background-size: cover;
    background-position: center;
    padding: 0 50px;
    margin: 50px;
    border-right: 3px solid aqua;
}

.about-img img {
    border-radius: 10px;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, .5);
}

.about-content {
    position: absolute;
    top: 25%;
    left: 43%;
}

.about-content h1 {
    color: #2c3e50;
    font-size: 70%;
    font-family: 'Raleway', sans-serif;
}

.about-content h3 {
    padding-bottom: 30px;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.about-content p {
    padding-bottom: 20px;
    line-height: 20px;
    overflow: hidden;
    letter-spacing: 3px;
    color: #2c3e50;
}

/* Project Section */

.project-section {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100%;
    padding: 0;
    right: 0;
    /* background: #000; */
}

.project-section h1 {
    text-align: center;
    padding: 40px;
    font-size: 40px;
    color: #2c3e50;
    font-family: 'Raleway', sans-serif;
}

.project-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.project img {
    width: 30vw;
    height: 40vh;
    background-size: cover;
    background-position: center;
    opacity: 1;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.671);
}

/* Blog section */

.blog-section {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    right: 0;
}

.blog-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.blog-section h1 {
    text-align: center;
    padding: 40px;
    font-size: 40px;
    color: #2c3e50;
    font-family: 'Raleway', sans-serif;
}

.blog {
    position: relative;
    /* background: #2c3e50; */
    padding: 30px;
    overflow: hidden;
}

.blog img {
    width: 30vw;
    height: 40vh;
    background-size: cover;
    background-position: center;
    opacity: 1;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.671);
}

.blog-content {
    position: relative;
    padding: 20px;
}
.blog-title{
    padding: 10px; 
    text-align: center;
    font-size: 30px;
    color: #353b48;
    font-family: 'Raleway', sans-serif;
}
.blog-link {
    padding: 20px;
    border-top: 1px solid #353b48a1;
}

.blog-link a {
    padding: 10px;
    background-color: #0097e6;
    color: #f5f6fa;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}

/* Team Section */

.team-section{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    right: 0;
}

.team-box {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.team-section h1 {
    text-align: center;
    padding: 40px;
    font-size: 40px;
    color: #2c3e50;
    font-family: 'Raleway', sans-serif;
}
.team-member {
    position: relative;
    /* background: #2c3e50; */
    padding: 30px;
    overflow: hidden;
}
.team-member img {
    width: 30vw;
    height: 40vh;
    background-size: cover;
    background-position: start;
    opacity: 1;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.671);
}
.name{
    padding: 10px; 
    text-align: center;
    font-size: 20px;
    color: #353b48;
    font-family: 'Raleway', sans-serif;
}

/* Contact Form */

.contact-section{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    right: 0;
}
.contact-box{
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 400px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .5);
}
.contact-box h2{
    margin: 0 0 40px;
    padding: 0;
    color: #2c3e50;
}
.contact-box input{
    padding: 10px 0;
    margin-bottom: 30px;
}
.contact-box textarea{
    height: 80px;
    padding: 10px 0;
    margin-bottom: 40px;
}
.contact-box input,
.contact-box textarea{
    width: 100%;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #353b48;
}
.contact-box textarea{
    margin-bottom: 20px;
}
.contact-box input[type="submit"]{
    border-bottom: none;
    cursor: pointer;
    background-color: #0097e6;
    color: #f5f6fa;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 15px;
}
.contact-box form div{
    position: relative;
}
.contact-box form div label{
    position: absolute;
    left: 0;
    top: 10px;
    color: #999;
    transition: .5s;
    pointer-events: none;
}
.contact-box input:focus ~ label,
.contact-box textarea:focus ~ label,
.contact-box input:valid ~ label,
.contact-box textarea:valid ~ label{
    top: -12px;
    color: #0097e6;
    font-size: 12px;
    font-weight: bold;
}
.contact-box input:focus,
.contact-box textarea:focus,
.contact-box input:valid,
.contact-box textarea:valid{
    border-bottom: 2px solid #0097e6;
}

/* scroll Animation */
.scroll{
position: absolute;
top: 90%;
left: 50%;
transform: translate(-50%,-50%);
}
.scroll span{
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    animation: animate 2s infinite;

}
.scroll span:nth-child(2){
    animation-delay: -.2s;
}
.scroll span:nth-child(3){
    animation-delay: -.2s;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20%,-20%) ;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20%,20%);
    }
}

/* footer */

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer li {
    display: inline-block;
    margin-left: 75px;
    margin: 10px;
    position: relative;
}

nav a {
    padding: 10px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: 500ms ease-in-out 2ms;
    /* border: 1px solid aqua; */
}

nav a:hover {
    background-color: aqua;
    color: #34495e
}
 